/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');  */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  .link {
    @apply hover:underline underline-offset-2
  }
  .button {
    @apply border-black border-2 rounded-full min-w-[120px] 
    h-[40px] text-2xl cursor-pointer
  }
 /*  .link:active{
    @apply active:underline
  } */
}

body {
  margin: 0;
  padding: 12px 12px 0 12px;
  font-family: Roboto, 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Classes as described on wikiAPI */
.search-description > .searchmatch {
  font-weight: 700;
}

/* Masonry Grid CSS */
.masonry-grid {
  column-count: 4;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-gap: 20px;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
}
.review-item {
  width: 100%;
  margin: 0px 0px 20px 0px;
  display: inline-block;
}

/*Responsive Masonry Grid CSS */
@media (max-width: 1299px) {
  .masonry-grid {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
  }
}
@media (max-width: 991px) {
  .masonry-grid {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }
}
@media (max-width: 767px) {
  .masonry-grid {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
  }
}
